.services_more:hover{
    color: #21bb9f;
}

.services_list .col-sm-6{
    margin-bottom: 25px;
}

@media(max-width:1400px){
    .promo-tabs .horizontal-tabs__content{
        padding: 25px;
    }
}

.buttons_banner{
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 130px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00997d;
}

.page-header_6.page-header--fixed{
    z-index: 999;
}

.page-header-full{
    z-index: 999;
}

.plist_cont{
    display: flex;
    justify-content: center;
}
.product_list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 976px;
}

.product_list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 32px;
    margin-bottom:32px;
    list-style-type: none;
    width: 94px;
    position: relative;

}

.horizontal-tabs__content{
    min-height: 170px;
    padding: 20px !important;
}

.product_list li p{
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.product_list li span{
    font-size: 14px;
    color: #fff;
}

.product_list li a{
    cursor: pointer;
    position: relative;
    float: left;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    height: 94px;
    border-radius: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 10px 2px rgba(0,0,0,.10);
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.10);
    text-decoration: none;
}

.product_list li a img{
    width: 48px;
    height: 48px;
}

.product_list li:nth-child(8n - 7){
    margin-left: 0;
}

.promo-tabs{
    position: relative;
    float: left;
    bottom: 0;
    margin-top: -105px;
}

.selected{
    max-width: 50%;
    padding-top: 7px;
}

.selected_cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.libs_price{
    display: flex;
    align-items: center;
}

.libs_price p{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
}

.price{
    margin-right: 30px;
}

.libs_price a{
    min-width: 100px;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.select_count{
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #1a9f29 !important;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px !important;
    text-decoration: none;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-box-shadow: 0 3px 10px 2px rgba(0,0,0,.10);
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.10);
    z-index: 11;
}

.close_selected img{
    max-width: 21px
}

.product_list li a:after{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: #1a9f29;
    opacity: .2;
    content: '';
}
.product_list li a.selected_product:after{
    opacity: 0;
}

.close_selected{
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #1a9f29 !important;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px !important;
    text-decoration: none;
    top: 0;
    right: 0;
    position: absolute;
    -webkit-box-shadow: 0 3px 10px 2px rgba(0,0,0,.10);
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.10);
    z-index: 11;
    border: 0;
}

.select_count{
    display: none;
}

.close_selected{
    display: none;
}

.selected_product .select_count{
    display: flex;
}

.selected_product + .close_selected{
    display: flex;
}

.selected_cont_parent{
    display: none;
}

@media(max-width: 1200px){
    .product_list li{
        width: 128px;
    }

    .product_list li{
        margin-left: 0
    }

    .product_list li:nth-child(9){
        margin-left: 0;
    }

    .product_list{
        justify-content: center;
        margin-top: 50px;
    }

    .close_selected{
        right: 13px;
    }


}

@media(max-width: 991px){
    .selected_cont{
        justify-content: center;
        flex-direction: column;
    }

    .selected{
        margin-bottom: 20px;
        width: 90%;
    }
}

@media(max-width: 768px){
    .promo-tabs{
        width: 100%;
    }
}