
.select2-container {
    width: 100% !important;
    height: 52px;
    padding: 9px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    margin-bottom: 10px;
    border: 2px solid #e6ecef;
}
.select2-container:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.select2-container::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.select2-container:-ms-input-placeholder {
    color: #999;
}
.select2-container::-webkit-input-placeholder {
    color: #999;
}
.select2-container::-ms-expand {
    background-color: transparent;
    border: 0;
}
.select2-container[disabled],
.select2-container[readonly],
fieldset[disabled] .select2-container {
    background-color: #eee;
    opacity: 1;
}
.select2-container[disabled],
fieldset[disabled] .select2-container {
    cursor: not-allowed;
}
.select2-container--default .select2-selection--single {
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px !important;
}

.select2-container:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
span:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}

.select2-search__field {
    width: 100%;
    height: 35px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    margin-bottom: 10px;
    border: 2px solid #e6ecef !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-dropdown {
    border: 2px solid #e6ecef !important;
    left: -2px !important;
}



.loan-rate-table .table-light {
    background-color: #eff5ff;
    margin-bottom: 30px;
}

.loan-rate-table .table thead {
    background-color: #e6f0ff;
}

.loan-rate-table .table > thead > tr > th {
    text-align: center;
    color: #15549a;
    font-size: 18px;
    border-top: transparent;
    border-bottom: transparent;
    padding: 20px;
}

.loan-rate-table .table tbody tr td {
    text-align: center;
    font-size: 16px;
    color: #414855;
    font-weight: 600;
    border-top: transparent;
    padding: 20px 0px;
}

.loan-half-section {
    padding: 100px;
}
.feature-bg {
    background-color: #fff;
    border-radius: 4px;
    padding: 60px;
    text-align: center;
    border: 1px solid #eaeef1;
}
.bg-primary-light {
    background-color: #e0efff !important;
}
.bg-default-light {
    background-color: #ffdced !important;
}
.bg-success-light {
    background-color: #d4ffe0 !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 30px;
}

.card-body {
    padding: 30px;
    background-color: #fff;
}

.card-header {
    background-color: #fff;
}


.lift {
    background: #fff;
    -webkit-transition: -webkit-box-shadow 0.25s ease,
    -webkit-transform 0.25s ease;
    transition: -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
    -o-transition: box-shadow 0.25s ease, transform 0.25s ease;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    transition: box-shadow 0.25s ease, transform 0.25s ease,
    -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
}

.lift:focus,
.lift:hover {
    -webkit-box-shadow: 0 1rem 2.5rem rgba(27, 22, 66, 0.1),
    0 0.5rem 1rem -0.75rem rgba(27, 22, 66, 0.1) !important;
    box-shadow: 0 1rem 2.5rem rgba(27, 22, 66, 0.1),
    0 0.5rem 1rem -0.75rem rgba(27, 22, 66, 0.1) !important;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 40px;
}


.post-caption-block {
    position: relative;
}
.post-caption-img {
    border: 1px solid #f1f1f1;
}
.post-caption-img img {
    border-radius: 3px;
    min-height: 375px;
}

.post-caption-content {
    position: absolute;
    bottom: 0px;
    padding: 27px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
}

.post-caption-block .meta {
    text-transform: capitalize;
}

.cta-section-app {
    background: url(../new/cta-img-4.jpg) no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.hero {
    position: relative;
    padding-top: 10px;
    padding-bottom: 18px;
    background: url(../new/brand_bg-min.jpg) no-repeat center;
    background-size: cover;
}
.header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon {
    margin-bottom: 30px;
}
.mb-3 {
    margin-bottom: 10px;
}
.feature-icon-style {
    text-align: center;
    border: 1px solid #ece9e9;
    padding: 30px;
    border-radius: 9px;
    background: #f4f6f838;
}
#navigation.small-screen #menu-button {
    border: none !important;
}
@media only screen and (max-width: 480px) {
    .loan-rate-table .table tbody tr td {
        font-size: 12px;
    }
}

.modal-footer {
    padding-top: 20px;
}
.crisp-1uswakw.crisp-ogcg7k {
    display: none !important;
    visibility: hidden !important;
}
#show_dec_message {
    display: none;
}
.cd-top {
    bottom: 100px;
    right: 20px;
}

.request-form{
    border-radius: 5px;
    box-shadow: 0 7px 25px 10px rgba(0, 0, 0, 0.25);
    transition: all .3s ease;
}